name: Scorecard supply-chain security
on:
  schedule:
    - cron: '29 8 * * 1'
  push:
    branches: [ main ]
  workflow_dispatch: {}

permissions:
  contents: read
  actions: read
  id-token: write
  security-events: write

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run analysis
        uses: ossf/scorecard-action@v2.3.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
